*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
svg{
    width: 35px;
    
    
}
.container{
    background-color: #343a40;
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    
}
.img-container{
    width: 350px;
    position: relative;
   
}
.img-container img{
    width: 350px;
    border-radius: 5px;
    overflow: hidden;
    
   
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    top:150px;
    right: 270px;
}
.action-btn{
    color: #fff;
    background-color: #343a40;
    border: none;
    
    font-size: 50px;
    cursor: pointer;
    padding: 10px;
    font-weight: bolder;
   
    outline: none;
}
.music-info{
    background-color: #343a40;
    color: #fff;
    position: absolute;
    top: 300px;
    
}
.music-info h4{
    font-size: 15px;
    font-weight: 500;
   font-family: inherit;
}
.progress-container{
    background: #343a40;
    border-radius: 5px;
    cursor: pointer;
    height: 4px;
    margin: 10px 0;
    width: 100%;
    position: relative;
    top: 20px;
}
.progress{
    background-color: #ffff ;
    border-radius: 5px;
    height: 100%;
    width: 50%;
    transition: width 0.5s linear;
   
}
.svg-container{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    top:190px;
    right: 270px;
}

.w3{
    z-index: 1;
    color: #fff;
    background-color: #343a40;
    border: none;
    font-size: 50px;
    cursor: pointer;
    outline: none;
    position: relative;
    right: 260px;
    top: 29px;
    width: 25px;
}
.w4{
    z-index: 1;
    color: #fff;
    background-color: #343a40;
    border: none;
    font-size: 50px;
    cursor: pointer;
    outline: none;
    position: relative;
    right: 120px;
    top: 29px;
    width: 30px;
}
.w4:hover{
    color: red;
    
}
.w5{
    z-index: 1;
    color: #fff;
    background-color: #343a40;
    border: none;
    font-size: 50px;
    cursor: pointer;
    outline: none;
    position: relative;
    left: 20px;
    top: 29px;
    width: 25px
}